.list li {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
    align-items: center;
    font-size: larger;
    overflow: scroll;
}
ol {
    list-style: none;
    margin-top: auto;
}
main {
    height: 100%;
    transition: max-height .4s;
    background-color: white;
    overflow-y: scroll;
}
.list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.li_list {
    padding: 1rem;
    overflow-y: scroll;
    max-height: 70vh;
    justify-content: center;
}
center {
    padding: 1rem;
}
right {
    margin-left: auto;
}